<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <style>
      body {
        background-color: #f1f1f1;
      }
      </style>
  </head>
  <body>
    <main>
        <br><br>
        <br><br>
        <center>
        <img src='logo.png'><br><br>       
      
      

      <font face='arial' style="font-size: 17px">
      <b><br><%= title %> <%= version %><br><br></b>
      </font>
      <font face='arial' style="font-size: 14px">
      Por favor entre em contato com nosso suporte para instru&ccedil;&otilde;es de uso.
      </font>
      
      
    </center>
    </main>
   

  
  </body>
</html>